@model IEnumerable<prjMVC_Core.ViewModels.CProductViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>產品管理</h1>
<div>
    @using (Html.BeginForm())
    {
        @:關鍵字 @Html.TextBox("txtKeyword")
        <input type="submit" value="查詢">
    }
</div>

<p>
    <a asp-action="Create">新增產品</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.FId)*@
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPhotoPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                    <tr>
                        <td>
                            @count
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FQty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FPrice)
                        </td>
                        <td>
                        @if (item.FPhotoPath != null)
                        {
                            <img src="~/Images/@item.FPhotoPath" width="200" />
                        }
                        else
                        {
                            <img src="~/Images/404.jpg" width="200" />
                        }
                        <br />
                        </td>
                        <td>
                        @Html.ActionLink("Edit", "Edit",  new {id = item.FId}) |
                            @Html.ActionLink("Delete", "Delete", new {id = item.FId}, new{onclick = "return confirm('確定是否刪除?')"})
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
